#par{
    color: red;
}
.someclass{
    color: blue;
}
.bar{
    color: green;
}


.somediv div p{
    color: aqua;
}
.somediv>div>p{
    color: red;
}
.somediv p{
    /* color: blueviolet !important; */
    color: blueviolet ;
}

