<footer>
    <!-- div>h3+p>lorem -->
    <div>
        <h3><%=footerName%></h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur incidunt ad ut recusandae minima doloribus, quae aliquid architecto doloremque magnam vel sed quod aperiam, placeat fugit culpa similique at qui.</p>
    </div>
</footer>