<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="usernameinp" placeholder="username">
    <br>
    <input type="text" name="" id="password">
    <br>
    <button id="register">register</button>
    <script>
        document.querySelector('#register').addEventListener('click', e => {
            e.preventDefault()
            const usernameElement = document.querySelector('#usernameinp')
            const passwordElement = document.querySelector('#password')
            if(usernameElement.value.trim() && passwordElement.value &&  usernameElement.value.trim().length > 5) {
                const sendData = {
                    username: usernameElement.value.trim(),
                    password: passwordElement.value
                }
                fetch('/register',{
                    method: 'POST',
                    headers:{
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(sendData)
                }).then(response => {
                    if (response.status === 200) {
                        response.json().then(data => {
                            if(data === 1) {
                                alert('you are registered successfuly')
                                usernameElement.value =''
                                passwordElement.value = ''
                            } else {
                                if (data === 3){
                                    alert('user is exist ')

                                } else {
                                    alert('something went wrong please try again later')

                                }
                            }
                        }).catch(error => {
                            alert('unknown response from the server')
                        })
                    } else {
                        alert('can not send data')
                    }
                }).catch(error => {
                    alert('can not send data')
                })
            } else{
                alert('fill the inputs please and try again')
            }
        })
    </script>

    
</body>
</html>