@import 'main';

$fbw5Color :rgb(21, 207, 207);
$meduimFont:25px;
.container{
    border: 2px solid black;
&>div{
        background-color:$fbw5Color ;
        &:nth-child(1){
            font-size: $meduimFont;
            &>p{
                line-height: 50px;
            }
        }
    }
    
}
.banner{
    background-color: $fbw5Color;
}
 