<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/somecss">
</head>
<body>

    this is a shared content
    <!-- div>h2+p>lorem -->
    <div>
        <h2>you are at home</h2>
        <p>Lrem, ipsum dolor sit amet consectetur adipisicing elit. Esse animi, quidem doloremque corrupti aut architecto cumque, expedita, quod temporibus sit laboriosam quisquam recusandae aliquid similique tenetur. Reiciendis cum veniam temporibus.</p>
        <a href="/about">About me</a>
    </div>
</body>
</html>